@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600);

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 100%;
  margin:0;
}

h1 {
  text-align:center;
  margin-bottom:10px;
  font-size: 2em;  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#header {
  width: 100%;
  min-height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 999;
}

#header.smaller {
  min-height: 40px;
}

#header.smaller h1 {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 0;
}

#header.smaller div#authors {
  font-size: 0em;
}

#content {
  padding-top: 100px;
}

div#tablehead{
  font-weight:bold;
  font-size:1.1em;
  padding-bottom:5px;
}

div#authors {
  font-size:0.9em;
  color:LightGrey;
  font-weight:bold;
  text-align:center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

div#footer {
  text-align:center;
  font-size:0.75em;
  padding-top:25px;
}

div#authors a {
  color:DarkGrey;
  text-decoration:none;
}

div#version {
  padding-top:5px;
}

div#info {
  padding:5px;
}

div#customise_button {
  font-size:0.9em;
  padding-left:10px;
  display:block;
  color:LightGrey;
  cursor:pointer;
  font-weight:bold;
  width:150px;
}

div#customise_button:hover {
  color:Black;
}

div#redirect_notice {
  display: none;
  width: 500px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  background-color: #F0F0F0;
  border-radius: 5px;
}

/* options table */
table.options td.firstcol {
  font-weight:bold;
  padding:2px 2px 2px 10px;
  width:90px;
  min-width:90px;
}

table.options td.secondcol {
  font-style:italic;
  font-size:0.9em;
}

table.options td.label {
  padding:2px 5px 2px 2px;
  width:120px;
  min-width:120px;
}

table.options td.check {
  padding:0px;
  width:21px;
  min-width:21px;
}

table.options td.top {
  vertical-align:top;
}

table.options div.optionbutton {
  padding:2px;
  text-align:center;
  font-size:0.65em;
  border-style:outset;
  border-radius:3px;
  border-width:2px;
  cursor:pointer;
  width:60px;
  margin:2px auto;
}

table.options div.optionbutton:active {
  border-style:inset;
}

table.options div.expand-button {
  width: 100%;
  height: 30px;
  cursor:pointer;
  display: block;
  position: absolute;
  top: -26px;
}

table.options div.parameters {
  display: none;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 5px;
  vertical-align: top;
}

table.options div.parameter {
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 0.75em;
  font-weight: bold;
}

table.options div.plotparams {
  display: none;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 5px;
  vertical-align: top;
}

table.options div.plotparam {
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 0.75em;
  font-weight: bold;
}
table.options input[type=text] {
  width: 80%;
  margin: 0 auto;
}

table.options textarea {
  width: 80%;
  margin: 0 auto;
}

.arrow-up {
	margin: 0 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid DarkGrey;
	position:relative;
	top:24px;
}

.arrow-down {
	margin: 0 5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid DarkGrey;
	position:relative;
	top:24px;
}

